html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1%;
    height: 100%;
    background-image: linear-gradient(#FFEFAB, #FFEFAB, #FFEFBA, #FFFFFF);
    border-image: linear-gradient(to right, #FFEFBA, #D31027);
    margin: auto;
    margin-top: 2%;
    width: 40%;
}

h2 {
    text-align: center;
}

.namirnica {
    max-width: 350px;
    flex: 1;
    font-family: sans-serif;
    padding-left: 5px;
    color: grey;
    border: 2px solid grey;
    border-radius: 7px;
    background-image: linear-gradient(to right, #FFEFBA, #FFEFBA, #ffffff);
    font-weight: bold;
}

.obrisi {
    max-width: 200px;
    flex: 1;
}

table,
th,
td {
    border: solid black 1px;
    border-collapse: collapse;
    width: 600px;
    margin: 5px 0 5px 0;
    flex: 1;
}

.zaglavlje {
    background-color: antiquewhite;
}

td {
    background-color: #FFFFFF
}

.rezultat {
    margin-top: 3px;
    display: flex;
    flex: 1;
    background-color: beige;
}

.divPretraga {
    display: flex;
}

.kalkulator {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 3px;
}

.noviKalkulator {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 3px;
}

.divUnos {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 3px;
}

.dnevniUnos,
.limit,
.gramazaUnos,
.unos,
.number,
.kategorija {
    width: 98%;
    height: 100%;
    font-size: 15px;
    margin-top: 3px;
    font-family: sans-serif;
    padding-left: 5px;
    color: grey;
    border: 2px solid grey;
    border-radius: 7px;
    background-image: linear-gradient(to right, #FFEFBA, #FFEFBA, #ffffff);
    font-weight: bold;
}

.dnevnaLabela {
    margin-top: 3px;
    display: flex;
    flex: 1;
}

.prikaz {
    margin-top: 3px;
    display: flex;
    flex: 1;
}

button {
    width: 100%;
    height: 100%;
    font-size: 15px;
    margin-top: 3px;
    font-family: 'Times New Roman';
    padding-left: 5px;
    color: grey;
    border: 2px solid grey;
    border-radius: 7px;
    background-image: linear-gradient(to right, #FFEFBA, #FFEFBA, #ffffff);
    font-weight: bold;
}